.flex-box {
    display: flex;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-bottom20 {
    margin-bottom: 20px;
}
.margin-top {
    margin-top: 10px;
}
.margin-top20 {
    margin-top: 20px;
}

.margin-right {
    margin-right: 10px;
}
.margin-right20 {
    margin-right: 20px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

.success {
    color: #67C23A
}

.error {
    color: #F56C6C
}
.text-color{
    color:#3f9eff
}
.fontSize16{
    font-size: 16px;
}
.fontSize24 {
    font-size: 24px;
}

.descriptions_div {
    padding: 10px;
    background-color: #eee;

    .el-descriptions__body {
        color: #606266;
        background-color: #eee;
    }
}