.flex-box {
    display: flex;
}

.margin-bottom {
    margin-bottom: 10px;
}

.margin-bottom20 {
    margin-bottom: 20px;
}

.margin-right {
    margin-right: 10px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.success {
    color: #67C23A
}

.error {
    color: #F56C6C
}

.descriptions_div {
    padding: 10px;
    background-color: #eee;

    .el-descriptions__body {
        color: #606266;
        background-color: #eee;
    }
}